@model IEnumerable<CRUD.Models.Category>
@{
    ViewBag.Title = "產品分類資料";
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#checkall").click(function () {
            if ($("#checkall").prop("checked")) {
                $("input[name='checkboxs']").prop("checked", true);
            }
            else {
                $("input[name='checkboxs']").prop("checked", false);
            }
        })

        $("#batchdelete").click(function () {
            if ($("input:checkbox[name='checkboxs']:checked").length <= 0) { alert("您未勾選!"); return; }
            if (confirm("您確定要刪除嗎?")) {
                var checkboxsList = "";
                $("input[name='checkboxs']:checkbox:checked").each(function () {
                    checkboxsList += $(this).attr('CategoryID')+",";
                });

                $.ajax({
                    type: 'post',
                    traditional: true,
                    url: '/CheckBoxBatchDelete',
                    data: { checkboxsList: checkboxsList },
                    success: function (data) {
                        alert("刪除成功");
                        location.replace("/index");
                    }

                });
            }
            return false;
        });
    });
    
</script>

<style>
    #CategoryList {
        border: 1px solid green;
        border-collapse: collapse;
        width: 700px;
        margin-top: 10px;
    }

        #CategoryList th, #CategoryList td {
            border: 1px solid green;
            padding: 4px;
        }
</style>

<h2>產品分類資料</h2>
<a href="/Category/Add">新增分類</a>
<input type="checkbox" name="ckeckall" id="checkall" />
<input type="button" name="batchdelete" id="batchdelete" value="刪除" />
<table id="CategoryList" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>選擇</th>
            <th>分類編號</th>
            <th>分類名稱</th>
            <th>描述</th>
            <th>編輯</th>
            <th>刪除</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var _category in Model)
        {
            <tr>
                <td>@Html.CheckBox("checkboxs", new { CategoryID = _category.CategoryID })</td>
                <td>@_category.CategoryID</td>
                <td>@_category.CategoryName</td>
                <td>@_category.Description</td>
                <td><a href="/Category/Edit/@_category.CategoryID">編輯</a></td>
                <td><a href="/Category/Delete/@_category.CategoryID">刪除</a></td>
            </tr>
        }
    </tbody>
</table>